target/
dbt_packages/
logs/

# Python
*.pyc
__pycache__/
venv/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Custom files
*.duckdb
how-to-guide.md
logger.txt
.secrets
.dbt/
scratch/
custom-admin/
.env